<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/login.js" defer></script>
  <title>Document</title>
</head>
<body>
  <input id="id" type="text" placeholder = "아이디"><br>
  <input id="password" type="password" placeholder = "비밀번호"><br>
  <button>확인</button>
  <p class="message"> 아직 회원이 아니신가요? <a href="./register">회원가입 하러가기 </a></p>
  
</body>
</html>


